.title {
  font-weight: 700;
}

.description {
  color: #bdbdbd;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.button {
  font: inherit;
  background-color: transparent;
  height: 2.3rem;
  width: 2.3rem;
  font-size: 1.6rem;
  padding-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333333;
  border-radius: 4px;
}

.button:active:enabled {
  background-color: #333333;
  color: #f2f2f2;
}

.button:disabled {
  border-color: #bdbdbd;
  color: #bdbdbd;

  cursor: not-allowed;
}

@media (hover: hover) {
  .button:hover:enabled {
    background-color: #333333;
    color: #f2f2f2;

    cursor: pointer;
  }
}