.searchOptions {
  padding: 0;
  border-right: 1px solid #f2f2f2;
  flex: 1;
}

.searchOption {
  padding: 1rem 3rem;
}

.selected {
  color: #333333;
  border: 1px solid black;
  border-radius: 16px;
}

.empty {
  color: #bdbdbd;
}

.filled {
  color: #333333;
}

.title {
  font-weight: 800;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 0.4rem;
  color: #333333;
}

@media only screen and (max-width: 600px) {
  .searchOptions:first-child {
    border-bottom: solid 1px #f2f2f2;
    border-right: none;
  }
}
